# Prisma
DATABASE_URL=

# Google Cloud Services API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Github OAuth Apps
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

# Next Auth (Generated with openssl rand -base64 32)
NEXTAUTH_SECRET=